Repository bcgov/invasivesbc, pull requests merged in 2021-01, with the labels that each got.

#311 ☁️ Resolving some more sonarcloud issues
  app/src/components/Footer/Footer.tsx
  app/src/components/form/FormContainer.tsx
Labels: Bug, Technical debt, enhancement

#313 282: More herbicide fields and modified application rate validation
  api/src/openapi/api-doc.json
  app/package.json
  app/src/features/home/activity/ActivityPage.tsx
  app/src/features/home/search/SearchActivityPage.tsx
  app/src/rjsf/business-rules/customValidation.ts
  app/src/rjsf/business-rules/populateCalculatedFields.ts
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
Labels: API, Form, enhancement, frontend

#321 Upgrade axios version
  api/package.json
  app/package.json
Labels: Critical, Technical debt

#324 Updated field/calculations for herbicides
  api/src/openapi/api-doc.json
  app/src/rjsf/business-rules/populateCalculatedFields.ts
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
Labels: API, Form, enhancement, frontend

#334 🗺️ Improved Geo Capturing and Activity Cloning
  app/src/components/activity/ActivityComponent.tsx
  app/src/components/map/MapContainer.tsx
  app/src/utils/addActivity.ts
Labels: Form, UX/UI, enhancement, frontend

#356 🔄 Ability to clone activities
  app/src/components/activities-list/ActivitiesList.tsx
  app/src/components/activities-list/ReferenceActivitiesList.tsx
  app/src/components/activity/ActivityComponent.tsx
  app/src/features/home/activity/ActivityPage.tsx
  app/src/features/home/map/MapPage.tsx
  app/src/utils/addActivity.ts
Labels: Form, UX/UI, enhancement, frontend

#354 🧰 Setting up tooltips for form fields
  api/src/app.ts
  api/src/openapi/api-doc.json
  app/src/rjsf/templates/ArrayFieldTemplate.tsx
  app/src/rjsf/templates/ObjectFieldTemplate.tsx
  app/src/themes/appTheme.ts
Labels: Form, UX/UI, enhancement, frontend

#392 336: Update github workflows
  .github/workflows/clean-pr.yml
  .github/workflows/cleanClosedPR.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
  api/src/openapi/geojson-feature-doc.json
  api/src/paths/activities.ts
  api/src/paths/activity.ts
  api/src/paths/point-of-interest.ts
  api/src/paths/points-of-interest.ts
  database/.docker/db/Dockerfile.migrate
  database/.pipeline/config.js
  database/.pipeline/lib/db.setup.build.js
  database/openshift/db.setup.bc.yaml
Labels: PR-DEPLOY

#393 Search page edit (savephotos) bug fix
  app/src/features/home/search/SearchActivityPage.tsx
Labels: Bug, Form, frontend

#396 336: Update git workflows
  .github/workflows/clean-closed-pr.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
  api/.pipeline/lib/clean.js
  app/.pipeline/lib/clean.js
  database/.pipeline/lib/clean.js
Labels: PR-DEPLOY

#398 336: Log context to help debug
  .github/workflows/clean-closed-pr.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
Labels: PR-DEPLOY

#399 336: Remove extra logging, tweak if merged check
  .github/workflows/clean-closed-pr.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
Labels: PR-DEPLOY

#400 336: Simplify if expressions to just check label
  .github/workflows/clean-closed-pr.yml
  .github/workflows/deploy-pr.yml
Labels: PR-DEPLOY

#403 🐞 Fix sync issue with treatment chemical record type (due to monitoring)
  api/src/openapi/api-doc.json
  app/android/build.gradle
Labels: API, Bug, Form

#404 Merge Dev into Test
  .github/workflows/clean-closed-pr.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy.yml
  api/.pipeline/config.js
  api/src/openapi/api-doc.json
  app/.pipeline/config.js
  app/android/build.gradle
  app/src/features/home/activity/ActivityPage.tsx
  database/.pipeline/config.js
  database/src/migrations/20201228151013_Activity_Observation_TerrestrialPlant_with_codes.ts
  database/src/migrations/20201230151930_Activity_Observation_AquaticPlant_with_codes.ts
  database/src/migrations/20201230162857_Activity_Observation_AquaticPlant_codes_resolved.ts
  database/src/migrations/20201230162913_Activity_Observation_TerrestrialPlant_codes_resolved.ts
Labels: PR-DEPLOY

#409 276: Allow multiple animals/plants for aquatic observation
  api/src/openapi/api-doc.json
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
Labels: API, Form, enhancement, frontend

#408 315: Bulk Edits
  api/src/openapi/api-doc.json
  api/src/paths/activity.ts
  app/src/components/activities-list/ActivitiesList.tsx
  app/src/components/form/FormContainer.tsx
  app/src/components/form/FormControlsComponent.tsx
  app/src/constants/activities.ts
  app/src/features/home/HomeRouter.tsx
  app/src/features/home/search/BulkEditActivitiesPage.tsx
  app/src/features/home/search/SearchActivityPage.tsx
  app/src/rjsf/business-rules/customValidation.ts
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
  app/src/rjsf/uiSchema/RootUISchemas.ts
  app/src/rjsf/uiSchema/UISchemaComponents.ts
  app/src/utils/addActivity.ts
  app/src/utils/getActivity.ts
  testing/integration/postman/InvasivesBC-API-DEV.postman_collection.json
Labels: API, Form, enhancement, frontend

#460 💧 157: Aquatic Plant/Animal Observation Forms
  api/src/openapi/api-doc.json
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
  app/src/rjsf/uiSchema/RootUISchemas.ts
Labels: API, Form, enhancement, frontend

#468 Fix issue with syncing plant terrestrial observation records
  api/README.md
  api/src/openapi/api-doc.json
Labels: API, Bug

#472 469: Renaming UI Fields
  app/src/components/activities-list/ReferenceActivitiesList.tsx
  app/src/components/tabs/TabsContainer.tsx
  app/src/features/home/plan/PlanPage.tsx
  app/src/features/home/references/ReferencesActivityPage.tsx
Labels: UX/UI, enhancement, frontend

#477 357: Fix Form Errors
  api/src/openapi/api-doc.json
  api/src/paths/activity.ts
  app/src/components/activities-list/ActivitiesList.tsx
  app/src/components/activities-list/ReferenceActivitiesList.tsx
  app/src/components/activities-list/SearchActivitiesList.tsx
  app/src/constants/activities.ts
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
  app/src/rjsf/uiSchema/RootUISchemas.ts
  app/src/rjsf/uiSchema/UISchemaComponents.ts
Labels: API, Bug, Form, frontend

#481 Updates to bulk editable fields
  api/src/openapi/api-doc.json
  app/src/components/form/FormContainer.tsx
  app/src/components/form/FormControlsComponent.tsx
  app/src/features/home/search/BulkEditActivitiesPage.tsx
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
  app/src/rjsf/uiSchema/UISchemaComponents.ts
Labels: API, Form, enhancement, frontend

#463 442 and 466: Refined Observation Treatment Workflow
  api/test/observation-polygon.json
  app/src/components/activities-list/ActivitiesList.tsx
  app/src/components/activities-list/ReferenceActivitiesList.tsx
  app/src/components/activity/StepperComponent.tsx
  app/src/components/map/MapContainer.tsx
  app/src/features/home/HomeRouter.tsx
  app/src/features/home/activity/ActivityPage.tsx
  app/src/features/home/activity/ObservationCreationStepperPage.tsx
  app/src/features/home/activity/TreatmentCreationStepperPage.tsx
  app/src/rjsf/business-rules/customValidation.ts
  app/src/rjsf/uiSchema/BaseUISchemaComponents.ts
  app/src/rjsf/uiSchema/RootUISchemas.ts
  app/src/utils/addActivity.ts
  app/src/utils/geometryHelpers.ts
Labels: API, Form, UX/UI, enhancement, frontend

#484 Landing page, logout functionality & fixing form edit issues
  app/src/components/activity/ActivityComponent.tsx
  app/src/components/form/FormContainer.tsx
  app/src/components/form/FormControlsComponent.tsx
  app/src/components/search/SearchResultsList.tsx
  app/src/components/tabs/TabsContainer.tsx
  app/src/features/home/HomeRouter.tsx
  app/src/features/home/landing/LandingPage.tsx
  app/src/features/home/search/BulkEditActivitiesPage.tsx
  app/src/features/home/search/SearchActivityPage.tsx
Labels: Bug, Form, enhancement, frontend
